/* Default styling for the email container */
.email-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Hide the email container on small screens */
@media (max-width: 850px) {
  .email-container {
    display: none;
  }
}
